body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 55px;
  font-weight: bold;
  color: #757575;

  background: url('assets/map.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-container {
  width: 1400px;
  height: 500px;
  margin: auto;
  padding-top: 10%;
}

.stat {
  font-size: 2.5em;
}

#less-famous {
  color: #FFA000;
}

#more-famous {
  color: #0288D1;
}


#percent-famous {
  color: #FF8A65;
}