body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #757575;

  background: url('assets/map.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-container {
  padding: 5%;
  text-align: center;
}

.stat {
  font-size: 2.5em;
}

#less-famous {
  color: #FFA000;
}

#more-famous {
  color: #0288D1;
}


#percent-famous {
  color: #FF8A65;
}

.join-prompt {
  text-decoration: none;
  color: #039BE5;
}

.join-prompt:hover {
  text-decoration: underline;
}

.error-prompt {
  text-decoration: none;
  color: #FF8A65;
}

.personal-stat {
  color: #F57C00;
}